@charset "UTF-8";
.fv {
  background-image: url(../img/hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  color: #fff;
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fv__text {
  margin-left: 13.33%;
}
.fv__title {
  color: #fff;
  font-size: 4.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0em;
  line-height: 1.291;
  margin-bottom: 17px;
}
.fv__title--s {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8125;
  letter-spacing: 0.108em;
  margin-bottom: 47.9px;
}
.fv__btn {
  border: 1px solid #fff;
  border-radius: 100vh;
  cursor: pointer;
  width: 220px;
  height: 60px;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fv__scroll {
  height: 60px;
  position: absolute;
  right: 12px;
  bottom: 0px;
  line-height: 3.33;
  letter-spacing: 0.08em;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #fff;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.fv__scroll::after {
  position: absolute;
  content: "";
  top: 0;
  right: 19.5px;
  margin-top: 10px;
  width: 1px;
  background-color: #fff;
  -webkit-animation: move 1.4s ease-in infinite;
          animation: move 1.4s ease-in infinite;
  opacity: 0;
}
.fv__span {
  position: absolute;
  top: -54px;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@-webkit-keyframes move {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 40px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}
@keyframes move {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 40px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}
@media screen and (min-width: 576px) {
  .fv {
    background-image: url(../img/hero@2x.png);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fv__text {
    margin: 0 auto;
    padding: 0 2%;
  }
  .fv__title {
    font-size: 7.2rem;
    line-height: 1.25;
    margin-bottom: 14.9px;
  }
  .fv__title--s {
    font-size: 2.4rem;
    line-height: 1.583;
    letter-spacing: 0.108em;
    margin-bottom: 46.9px;
  }
  .fv__scroll {
    height: 90px;
  }
  .fv__scroll::after {
    -webkit-animation: move-pc 1.4s ease-in-out infinite;
            animation: move-pc 1.4s ease-in-out infinite;
  }

  @-webkit-keyframes move-pc {
    0% {
      height: 0;
      top: 0;
      opacity: 0;
    }
    70% {
      height: 56px;
      opacity: 1;
    }
    100% {
      height: 0;
      top: 80px;
      opacity: 0;
    }
  }

  @keyframes move-pc {
    0% {
      height: 0;
      top: 0;
      opacity: 0;
    }
    70% {
      height: 56px;
      opacity: 1;
    }
    100% {
      height: 0;
      top: 80px;
      opacity: 0;
    }
  }
}
@media screen and (min-width: 992px) {
  .lg {
    display: none;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .fv {
    background-image: url("../img/hero@2x.png");
  }
}
.top-h2 {
  text-align: center;
  color: #391e88;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.8;
}
.top-h2--sub {
  line-height: 2.461em;
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 2px;
  display: block;
}

.news {
  margin-top: 40px;
}
.news__wrapper {
  padding: 0 20px;
}
.news__list {
  margin-top: 31px;
}
.news__term {
  font-family: "Montserrat", sans-serif;
}
.news__time {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.news__type {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 15px;
  text-align: center;
  width: 82px;
  height: 19px;
  background-color: #e8e8e8;
  border-radius: 100vh;
  display: inline-block;
}
.news__text {
  margin-top: 10px;
  line-height: 1.928;
}
.news__row:not(:last-child) {
  margin-bottom: 35px;
}

@media screen and (min-width: 576px) {
  .top-h2 {
    line-height: 0.888;
    font-size: 3.6rem;
  }
  .top-h2--sub {
    font-weight: 600;
    line-height: 2.285;
    letter-spacing: 0.1em;
  }

  .news {
    margin-top: 70px;
  }
  .news__wrapper {
    max-width: 917px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .news__list {
    margin: 0 0 0 3.472%;
  }
  .news__term {
    -webkit-box-flex: 28.25%;
        -ms-flex: 28.25%;
            flex: 28.25%;
  }
  .news__type {
    font-size: 1.2rem;
    margin-left: 1.388%;
    height: 22px;
  }
  .news__text {
    margin: 0 0 0 1.388%;
    -webkit-box-flex: 71.75%;
        -ms-flex: 71.75%;
            flex: 71.75%;
  }
  .news__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .news__row:not(:last-child) {
    margin-bottom: 15px;
  }
}
.service {
  margin-top: 75px;
}
.service__wrapper {
  padding: 0 20px;
}
.service__wrap {
  margin-top: 30px;
}
.service__box {
  margin-top: 40px;
}
.service__img {
  max-width: 350px;
  margin: 0 auto;
  height: 210px;
}
.service__title {
  text-align: center;
  color: #333;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.222;
  margin-top: 12px;
}
.service__text {
  margin-top: 10px;
}

@media screen and (min-width: 576px) {
  .service {
    margin: 140px auto 0;
    max-width: 1100px;
  }
  .service__wrap {
    margin: 29px 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .service__box {
    margin-top: 0px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .service__box:not(:last-of-type) {
    margin-right: 2.08%;
  }
  .service__img {
    height: 62.85%;
    max-height: 220px;
  }
  .service__title {
    margin-top: 22px;
  }
  .service__text {
    margin-top: 17px;
  }
}
.works {
  margin-top: 52%;
  position: relative;
  padding-bottom: 60px;
}
.works__wrapper {
  background-color: #f0f0f0;
  padding: 0 20px 60px;
}
.works__wrapper::before {
  content: "";
  padding-top: 41.6%;
  display: block;
}
.works__slider {
  position: absolute;
  top: calc(-115px - ((100vw - 375px) / 3));
  left: 0;
  padding: 0 20px;
  width: 100%;
  max-width: 750px;
}
.works__text {
  text-align: center;
  margin: 29px 0 25px;
}

.works__slider .swiper-pagination {
  position: initial;
  text-align: right;
}
.works__slider .swiper-pagination-bullet {
  margin: 0 4px;
}
.works__slider .swiper-button-prev,
.works__slider .swiper-button-next {
  color: #fff;
}
.works__slider .swiper-button-prev::after,
.works__slider .swiper-button-next::after {
  font-size: 3rem;
}
.works__slider .swiper-button-prev:hover,
.works__slider .swiper-button-next:hover {
  opacity: 0.5;
}

@media screen and (min-width: 576px) {
  .works {
    margin: 140px auto 0;
    max-width: 1261px;
    padding-bottom: 0px;
  }
  .works__wrapper {
    padding: 0 4.23% 0 24.02%;
    width: 66.375%;
    margin-left: auto;
  }
  .works__wrapper::before {
    padding-top: 49.53%;
  }
  .works__wrapper::after {
    content: "";
    padding-top: 49.53%;
    display: block;
  }
  .works__slider {
    top: 60px;
    width: 52.08%;
    padding: 0;
    margin-left: 20px;
  }
  .works__text {
    margin-top: 28px;
  }
}
.company {
  margin-top: 40px;
  text-align: center;
  background: url(../img/cirlcles.svg) no-repeat;
  background-position: center;
  padding: 42px 0 86px;
}
.company__wrapper {
  padding: 0 5.33%;
}
.company__title {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 22px;
  position: relative;
  min-width: 265px;
  z-index: 0;
}
.company__title::before {
  position: absolute;
  content: "";
  display: block;
  width: 280px;
  height: 8px;
  background-color: #f5f534;
  margin: auto;
  left: 0;
  right: 0;
  top: 3.2rem;
  z-index: -1;
}
.company__title::after {
  position: absolute;
  content: "";
  display: block;
  width: 240px;
  height: 8px;
  background-color: #f5f534;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 5px;
  z-index: -1;
}
.company__text {
  margin: 39px 0 25px;
}

@media screen and (min-width: 576px) {
  .company {
    margin: 60px auto 0;
    max-width: 1300px;
    background: url(../img/bg-circle.svg) no-repeat;
    background-position: center;
    padding: 136px 0 73px;
  }
  .company__wrapper {
    padding: 0;
    background: url(../img/bg-face.png) no-repeat;
    background-position: center;
    background-size: cover;
  }
  .company__title {
    font-size: 4rem;
    line-height: 0.8;
    margin-top: 30px;
  }
  .company__title::before {
    height: 12px;
    width: 666px;
  }
  .company__title::after {
    content: none;
  }
  .company__text {
    margin: 41px 0 30px;
  }
}
/* 高解像度対応 背景*/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .company__wrapper {
    background-image: url(../img/bg-face@2x.png);
  }
}
.recruit {
  margin-top: 40px;
}
.recruit__wrapper {
  padding: 60px 5.33% 50px;
  background-color: #F7F7F7;
}
.recruit__img {
  background: url(../img/you-x-ventures-X8H8vPcelPk-unsplash.png) no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 140px;
}
.recruit__text {
  margin: 29px 0 25px;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .recruit {
    max-width: 1100px;
    margin: 65px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .recruit__img {
    background: url(../img/you-x-ventures-X8H8vPcelPk-unsplash@2x.png);
    background-position: center;
    background-size: cover;
    height: auto;
    -webkit-box-flex: 60.45%;
        -ms-flex: 60.45%;
            flex: 60.45%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .recruit__wrapper {
    padding: 71px 7.43%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 39.55%;
        -ms-flex: 39.55%;
            flex: 39.55%;
  }
  .recruit__text {
    margin: 28px 0 30px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .recruit__img {
    background-image: url(../img/you-x-ventures-X8H8vPcelPk-unsplash@2x.png);
  }
}
.contact {
  margin-top: 60px;
  background-color: #f7f7f7;
  padding: 60px 0;
}
.contact__text {
  margin: 26px 0 28px;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .contact {
    margin-top: 100px;
    padding: 80px 0 79px;
  }
  .contact__text {
    margin: 30px 0 29px;
    line-height: 2.133;
  }
}
/*# sourceMappingURL=top.css.map */