@use "variables";

@mixin text($c: variables.$mc, $s: 3) {
  color: $c;
  font-size: $s + rem;
  font-family: variables.$ff;
  font-weight: bold;
  text-transform: uppercase;
}

// @media screen and (min-width:  px)
@mixin mq($bp) {
  @media #{map-get(variables.$breakpoints, $bp)} {
   @content;
  }
}
