@use "../../config" as cfg;

.contents {
  padding: 40px 0 80px;
  &__wrapper {
    padding: 0 20px;
  }
  &__box{
    margin-bottom: 69px;
  }
  &__img {
    margin-bottom: 18px;
  }
  &__title {
    font-family: cfg.$ff;
    font-size: 1.8rem;
    font-weight:bold;
    margin-bottom: 15px;
    text-align: center;
    // line-height: 1.35;
  }
  &__text {
    font-family: cfg.$ff;
    font-weight: 400;
  }
}


// pc
@include cfg.mq(sm) {
  .contents {
    padding: 70px 0 110px;
    &__wrapper {
      max-width: 1110px;
      margin: 0 auto;
    }
    &__box{
      margin-bottom: 69px;
      display: flex;
    }
    &__about{
      flex: 55%;
    }
    &__img {
      // max-width: 445px;
      margin: 0 4.54% 0 0;
      height: 62.921%;
      flex: 45%;
    }
    &__title {
      font-size: 2.4rem;
      margin-bottom: 20px;
      text-align: start;
    }
    &__text {
      font-family: cfg.$ff;
      margin-bottom: 0;
      font-weight: 400;
    }
  }

}
