@use "../../config" as cfg;
.company {
  margin-top: 40px;
  text-align: center;
  background: url(../img/cirlcles.svg) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 42px 0 86px;
  &__wrapper {
    padding: 0 5.33%;
  }
  &__title {
    font-feature-settings: "palt";
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.5;
    // margin-top: 22px;
    margin-top: 18px;
    position: relative;
    min-width: 265px;
    z-index: 0;
    letter-spacing: -0.072em;
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 280px;
      height: 8px;
      background-color: #f5f534;
      margin: auto;
      left: 0;
      right: 0;
      top: 3.2rem;
      z-index: -1;
    }
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 240px;
      height: 8px;
      background-color: #f5f534;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 5px;
      z-index: -1;
    }
  }
  &__text {
    // margin: 39px 0 25px;
    margin: 35px 0 25px;
  }
}

// pc表示
@include cfg.mq(sm) {
  .company {
    margin: 60px auto 0;
    max-width: 1300px;
    background: url(../img/bg-face.png) no-repeat,url(../img/bg-circle.svg) no-repeat;
    background-position:  50% 35px, top;
    background-size:  auto, contain;
    padding: 136px 0 73px;
    &__wrapper {
      padding: 0;
    }
    &__title {
      font-size: 4rem;
      line-height: 0.8;
      margin-top: 30px;
      &::before {
        height: 12px;
        width: 666px;
      }
      &::after {
        content: none;
      }
    }
    &__text {
      margin: 41px 0 30px;
    }
  }
  /* 高解像度対応 背景*/
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .company {
      &__wrapper {
        background-image: url(../img/bg-face@2x.png);
      }
    }
  }
}
