@use "../../config" as cfg;
.company {
  margin-top: 40px;
  text-align: center;
  background: url(../img/cirlcles.svg) no-repeat;
  background-position: center;
  padding: 42px 0 86px;
  &__wrapper{
    padding: 0 40px;
  }
  &__title {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.5;
    background: linear-gradient(transparent 83.4%, #f5f534 16.6%);
  }
  &__text {
    margin: 39px 0 25px;
  }
}

// １行目
.first {
  width: 280px;
  margin:22px auto 0;
}
// ２行目
.second {
  width: 240px;
  margin: 0 auto;
}
