@use "../../config" as cfg;

.contact {
  margin-top: 60px;
  background-color: #f7f7f7;
  padding: 60px 0;
  &__text {
    margin: 26px 0 28px;
    text-align: center;
  }
}

// pc表示
@include cfg.mq(sm) {

}
