@use "../../config" as cfg;
// perfectpixelで照らし合わせた結果ずれていた箇所のxdの記述サイズを残している

// news
.news {
  margin-top: 40px;
  &__wrapper {
    padding: 0 20px;
  }
  &__list {
    // margin-top: 31px;
    margin-top: 23px;
  }
  &__row {
    font-feature-settings: "palt";
    letter-spacing: 0;
  }
  &__term {
    font-family: cfg.$ff;
  }
  &__time {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1em;
  }
  &__type {
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 15px;
    text-align: center;
    width: 82px;
    height: 19px;
    background-color: #e8e8e8;
    border-radius: 100vh;
    display: inline-block;
  }
  &__text {
    // margin-top: 10px;
    margin-top: .7px;
    line-height: 1.928;
  }
  &__row:not(:last-child) {
    // margin-bottom: 35px;
    margin-bottom: 30px;
  }
}

// pc表示
@include cfg.mq(sm) {
  // news
  .news {
    margin-top: 70px;
    &__wrapper {
      max-width: 957px;
      margin-left: 17.926%;
      display: flex;
    }
    &__list {
      margin: 0 0 0 3.472%;
      flex: auto;
    }
    &__term {
      flex: 28.25%;
    }
    &__type {
      font-size: 1.2rem;
      margin-left: 1.388%;
      height: 22px;
    }
    &__text {
      margin: 0 0 0 1.388%;
      flex: 71.75%;
    }
    &__row {
      display: flex;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}
