@use "../../config" as cfg;

.service {
  margin-top: 72px;
  &__wrapper {
    padding: 0 20px;
  }
  &__wrap {
    margin-top: 30px;
  }
  &__box {
    margin-top: 30px;
  }
  &__img {
    max-width: 350px;
    margin: 0 auto;
  }

  // 背景で設定
  // &__img--1{
  // max-width: 350px;
  // margin: 0 auto;
  // height: 210px;
  // background: url(../img/service.png) no-repeat;
  // background-position: center;
  // background-size: cover;
  // }
  // &__img--2{
  // max-width: 350px;
  // margin: 0 auto;
  // height: 210px;
  // background: url(../img/service-1.png ) no-repeat;
  // background-position: center;
  // background-size: cover;
  // }
  // &__img--3{
  // max-width: 350px;
  // margin: 0 auto;
  // height: 210px;
  // background: url(../img/service-2.png) no-repeat;
  // background-position: center;
  // background-size: cover;
  // }

  &__title {
    text-align: center;
    @include cfg.text(#333, 1.8);
    line-height: 1.333;
    margin-top: 12px;
  }
  &__text {
    margin-top: 10px;
  }
}

// pc表示
@include cfg.mq(sm) {
  .service {
    margin: 140px auto 0;
    max-width: 1100px;
    // &__wrapper {
    //   // padding: 0;
    // }
    &__wrap {
      margin: 29px 0 30px;
      display: flex;
      justify-content: center;
    }
    &__box {
      margin-top: 0px;
      height: fit-content;
      flex: 1;
      &:not(:last-of-type) {
        margin-right: 2.08%;
      }
    }
    &__img {
      height: 62.85%;
      max-height: 220px;
    }
    &__title {
      margin-top: 22px;
    }
    &__text {
      margin-top: 17px;
    }
  }
}
