@use "../../config" as cfg;
.works {
  // margin-top: 52%;
  margin-top: 56%;
  position: relative;
  &__wrapper {
    background-color: #f0f0f0;
    padding: 0 20px 60px;
    &::before {
      content: "";
      // padding-top: 41.6%;
      padding-top: 42.9%;
      display: block;
    }
  }
  &__slider {
    position: absolute;
    top: calc(-115px - ((100vw - 375px) / 3));
    left: 0;
    padding: 0 20px;
    width: 100%;
    max-width: 750px;
  }
  &__text {
    text-align: center;
    margin: 29px 0 25px;
  }
}

// スライダー
// 階層を１つ深く
.works__slider {
  // ページネーション
  .swiper-pagination {
    position: initial;
    text-align: right;
  }
  .swiper-pagination-bullet {
    margin: 0 4px;
    background: #C0C0C0;
    &-active{
      background: cfg.$mc;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;
    &::after {
      font-size: 3rem;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}

// pc表示
@include cfg.mq(sm) {
  .works {
    margin: 140px auto 0;
    max-width: 1261px;
    padding-bottom: 0px;
    &__wrapper {
      padding: 0 4.23% 0 24.02%;
      width: 66.375%;
      margin-left: auto;
      &::before {
        padding-top: 49.53%;
      }
      &::after {
        content: "";
        padding-top: 49.53%;
        display: block;
      }
    }
    &__slider {
      top: 60px;
      width: 52.08%;
      padding: 0;
      margin-left: 20px;
    }
    &__text {
      margin-top: 28px;
    }
  }
}
