@use "../../config" as cfg;

.contents {
  padding: 40px 0 80px;
  &__wrapper {
    padding: 0 15px;
  }
  &__img {
    margin-bottom: 40px;
  }
  &__picture {
    box-shadow: 0 0 15px rgba(0, 0, 0, 20%);
  }
  &__text {
    font-family: cfg.$ff;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 13.4px;
    line-height: 1.33;
  }
}

// pc
@include cfg.mq(sm) {
  .contents {
    padding: 70px 0 110px;
    &__wrapper {
      max-width: 1110px;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      justify-content: space-between;
    }
    &__img {
      max-width: calc((100% - 4.1666%) / 3);
      flex-basis: calc((100% - 4.1666%) / 3);
      height: fit-content;
      margin-bottom: 28px;
      &:nth-of-type(4),
      &:nth-of-type(5) {
        margin-bottom: 0;
      }
      &:nth-of-type(3n-1):nth-last-of-type(1) {
        margin-right: auto;
        margin-left: 2.08%;
      }
    }
    &__text {
      margin-top: 12px;
    }
  }
}
