@use "../config" as cfg;

// ハンバーガーアイコン
.hamburger {
  display: block;
  position: relative;
  width: 44px;
  height: 44px;
  cursor: pointer;
  z-index: 99;
  transition: 0.3s ease-out;
  margin: auto 0;
  // IE11対策
  margin-left: auto;
  &:hover {
    opacity: 0.8;
  }
  &__line {
    display: block;
    position: absolute;
    left: 5px;
    width: 34px;
    height: 2px;
    background-color: #FFFFFF;
    transition: 0.3s ease-out;
    border-radius: 1px;
  }
}
.line1 {
  top: 15.5px;
}
.line2 {
  top: 22px;
}
.line3 {
  bottom: 13.5px;
}

// vue
// アイコンの動き
.btn_line1 {
  transform: translateY(6.5px) rotate(-45deg);
  transition: 0.4s ease-out;
}
.btn_line2 {
  transition: 0.4s ease-out;
  opacity: 0;
}
.btn_line3 {
  transform: translateY(-6.5px) rotate(45deg);
  transition: 0.4s ease-out;
}
.btn_line {
  transform: rotateX(360deg);
  transition: 0.4s ease-out;
}

// headerのnavメニュー sp
.nav_sp {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, #642390, #19074A);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: block;
  // transform: translateY(-100%);
  // visibility: hidden;
  // transition: all 0.5s ease-in-out;
  &__list {
    @include cfg.text(#fff,1.5);
    text-align: center;
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    line-height: 1.3;
  }
  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

// navメニューの動き
.nav-enter-active, .nav-leave-active {
  transition: opacity 0.5s ease-out;
}
.nav-enter, .nav-leave-to {
  opacity: 0;
}
.nav-leave, .nav-enter-to{
  opacity: 1;
}
// 読み込み時navメニューが一瞬表示される為追加
.nav{
  opacity: 1;
}
