@use "../config" as cfg;
// header
.header {
  position: fixed;
  width: 100%;
  padding: 9px 0;
  left: 0;
  top: 0;
  z-index: 48;
  transition: 0.8s ease-in-out;
  &__wrapper {
    padding: 0 15px;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    height: 44px;
  }
  &__title {
    @include cfg.text(#fff, 1.8);
    line-height: 1.222;
    letter-spacing: 0.018em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// スクロール変化
.header-scroll{
  background-color: #21054D;
}
